<p id="notice"><%= notice %></p>

<% cache cache_key_for_games do %>
	<table class="table">
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Start time</th>
	      <th>End time</th>
	      <th>Teams</th>
	      <th colspan="3"></th>
	    </tr>
	  </thead>
	  <tbody>
	  	<h3>Games to play: </h3>
	
	    	<%= render partial: "game", collection: @future_games, as: :game %>
	 
	  </tbody>
	  </table>
	  <table class="table">
	  	<thead>
		    <tr>
		      <th>Name</th>
		      <th>Start time</th>
		      <th>End time</th>
		      <th>Teams</th>
		      <th>Result</th>
		      <th colspan="4"></th>
		    </tr>
	  	</thead>
	  <h3>Currently Playing games</h3>
	   <tbody>
	
		  <%= render partial: "game", collection: @current_games, as: :game %>
	
	  </tbody> 
	  </table>
	  <table class="table">
	  <h3>History games</h3>
	  <tbody>
	
	  	  <%= render partial: "game", collection: @history_games, as: :game %>
	
	  </tbody>
	
	</table>

<% end %>
<br>

